.meme-list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.meme-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
