.meme-generator {
  background: lightgray;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 20px;
  margin: 20px;
}

.template-list-container-generator {
  width: 100%;
  scale: 0.8;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}
