.input-container {
  text-align: left;
}

.image-canvas {
  display: flex;
  align-items: center;
}

.image-canvas {
  background: white;
  border-radius: 10px;
  border: 1px solid gray;
  width: 100%;
  height: 80%;
}

.div {
  font-family: 'Anton', serif;
}
canvas {
  background: white;
  flex: 2;
  margin-left: 10px;
  border-radius: 10px;
  font-family: 'Anton', serif;
  max-height: 500px;
  max-width: 500px;
  text-align: center;
}

