.upload-template {
  margin-top: 2rem;
}

.upload-template label {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.file-input {
  display: flex;
  align-items: center;
}

.file-input input {
  display: none;
}

.file-input button {
  background-color: #2e8b57;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-left: 1rem;
}
